$customerrecord : '.customerrecord'; // namespace for component

#{$customerrecord} {
  &__head {
    &--fixed {
      z-index: 100;

      + div {
        margin-top: 140px;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }

  &__cards {
    display: flex;
    align-items: stretch;

    > div .card {
      height: 100%;
    }
  }
}
