.appointmentscard {
  &__fullpage {
    .modal-header {
      padding-bottom: 0;
      border: 0 none;
    }
  }

  &__icon {
    width: 30px;
    float: left;
  }

  &__details {
    padding-left: 30px;
  }

  &__status {
    margin: 8px 0;
  }
}
